/* Importa fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@300;400;700;800&display=swap');

/* Configurações gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

/* Estilo do corpo */
body {
    display: flex;
    width: 100%; /* Define a largura total do corpo */
    height: 100%; /* Define a altura total do corpo */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    background: hsl(150, 100%, 20%); /* Cor de fundo do corpo */
}

/* Estilo do contêiner */
.container {
    display: flex;
    width: 50%; /* Define a largura do contêiner */
    height: 50%; /* Define a altura do contêiner */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212); /* Adiciona sombra ao contêiner */
    justify-items: center;
    align-items: center;
}

/* Estilo do formulário */
.form {
    display: flex;
    width: 100%; /* Define a largura do formulário */
    height: 50%;
    flex-direction: column; /* Organiza os elementos em coluna */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    background-color: #fff; /* Cor de fundo do formulário */
    padding: 3rem; /* Adiciona espaçamento interno ao formulário */
    
}

/* Estilo do cabeçalho do formulário */
.form-header {
    margin-bottom: 3rem; /* Define a margem inferior do cabeçalho do formulário */
    display: flex;
    justify-content: space-between; /* Distribui os elementos horizontalmente */
}

/* Estilo do botão de login */
.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    background-color:hsl(150, 100%, 20%); /* Cor de fundo do botão de login */
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover {
    background-color: hsl(150, 100%, 20%); /* Cor de fundo do botão de login ao passar o mouse */
}

.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff; /* Cor do texto do botão de login */
}

/* Estilo do título do cabeçalho */
.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: hsl(150, 100%, 20%); /* Cor do traço após o título */
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

/* Estilo do grupo de entrada */
.input-group {
    display: flex;
    flex-direction: column; /* Organiza os elementos em coluna */
    justify-content: space-between; /* Distribui os elementos verticalmente */
    padding: 1rem 0; /* Adiciona espaçamento interno ao grupo de entrada */
}

/* Estilo da caixa de entrada */
.input-box {
    display: flex;
    flex-direction: column; /* Organiza os elementos em coluna */
    margin-bottom: 1.1rem; /* Define a margem inferior da caixa de entrada */
}

/* Estilo da entrada de texto */
.input-box input {
    margin: 0.6rem 0; /* Define a margem da entrada de texto */
    padding: 0.8rem 1.2rem; /* Adiciona espaçamento interno à entrada de texto */
    border: none; /* Remove a borda */
    border-radius: 10px; /* Adiciona bordas arredondadas */
    box-shadow: 1px 1px 6px #0000001c; /* Adiciona sombra */
    font-size: 0.8rem; /* Define o tamanho da fonte */
}

.input-box input:hover {
    background-color: #eeeeee75; /* Cor de fundo da entrada de texto ao passar o mouse */
}

.input-box input:focus-visible {
    outline: 1px solid hsl(150, 100%, 20%); /* Adiciona contorno ao focar */
}

/* Estilo da etiqueta da caixa de entrada e do título do gênero */
.input-box label,
.gender-title h6 {
    font-size: 0.75rem; /* Define o tamanho da fonte */
    font-weight: 600; /* Define o peso da fonte */
    color: #000000c0; /* Define a cor do texto */
}

.input-box input::placeholder {
    color: #000000be; /* Define a cor do espaço reservado */
}

/* Estilo do grupo de gênero */
.gender-group {
    display: flex;
    justify-content: space-between; /* Distribui os elementos horizontalmente */
    margin-top: 0.62rem; /* Define a margem superior do grupo de gênero */
    padding: 0 .5rem; /* Adiciona espaçamento interno */
}

/* Estilo da entrada de gênero */
.gender-input {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
}

.gender-input input {
    margin-right: 0.35rem; /* Define a margem direita da entrada de gênero */
}

.gender-input label {
    font-size: 0.81rem; /* Define o tamanho da fonte */
    font-weight: 600; /* Define o peso da fonte */
    color: #000000c0; /* Define a cor do texto */
}

/* Estilo do botão de continuar */
.continue-button button {
    width: 100%; /* Define a largura do botão */
    margin-top: 2.5rem; /* Define a margem superior do botão */
    border: none;
    background-color: hsl(150, 100%, 20%); /* Cor de fundo do botão de continuar */
    padding: 0.62rem; /* Adiciona espaçamento interno ao botão */
    border-radius: 5px; /* Adiciona bordas arredondadas */
    cursor: pointer;
}

.continue-button button:hover {
    background-color:hsl(150, 100%, 15%); /* Cor de fundo do botão de continuar ao passar o mouse */
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem; /* Define o tamanho da fonte */
    font-weight: 500; /* Define o peso da fonte */
    color: #fff; /* Cor do texto */
}

/* Estilo da área de texto */
textarea.assunto{
    
    width: 500px; /* Define a largura*/
    border-radius: 5px;
    resize: none;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    outline: 1px solid hsl(150, 100%, 10%);
}

textarea.assunto textarea:focus-visible{
    outline: 1px solid hsl(150, 100%, 10%);
}





/* Media Query para telas menores */
@media screen and (max-width: 768px) {
    .content {
        font-size: 1.2rem; /* Reduz o tamanho do texto para telas menores */
    }
    label {
        font-size: 0.8rem; /* Reduz o tamanho do texto das labels para telas menores */
    }
    input {
        font-size: 0.8rem; /* Reduz o tamanho do texto nos inputs para telas menores */
        margin-bottom: 0.5rem; /* Reduz o espaço entre os inputs para telas menores */
    }
    textarea.assunto{
    width: 300px; 
}
}

/* Media Query para telas ainda menores */
@media screen and (max-width: 480px) {
    .content {
        font-size: 1rem; /* Reduz ainda mais o tamanho do texto para telas muito pequenas */
    }
    label {
        font-size: 0.7rem; /* Reduz ainda mais o tamanho do texto das labels para telas muito pequenas */
    }
    input {
        font-size: 0.7rem; /* Reduz ainda mais o tamanho do texto nos inputs para telas muito pequenas */
        margin-bottom: 0.3rem; /* Reduz ainda mais o espaço entre os inputs para telas muito pequenas */
    }
    
    .container {
        width: 100%; /* Define a largura do contêiner principal */
        max-width: 480px; /* Limita a largura máxima do contêiner */
        padding: 1rem; /* Adiciona espaçamento interno ao contêiner */
    }
    form {
        display: flex;
        flex-direction: column; /* Organiza os elementos em coluna */
        max-width: 480px;
        margin-top: 1rem; /* Adiciona espaço superior ao formulário */
    }
    textarea {
        width: 200x; /* Ocupa toda a largura disponível */
        height: 200px; /* Altura desejada */
        resize: vertical; /* Permite redimensionar verticalmente */
        font-size: 15px; /* Tamanho padrão do texto do textarea */
   
    }

    .continue-button button{
        width: 50%;
    }
}



/* Estilos gerais */
.container {
    width: 90%; /* Define a largura do contêiner principal */
    max-width: 1200px; /* Limita a largura máxima do contêiner */
}

form {
    display: block;
    width: max-content;
    max-width: 100%;
}
